.input {
    margin: 0 auto;
    margin-left: 25%;
    margin-top: 8%;
    width: 50%;
    font-size: 18px;
    box-shadow: 1px 0px 1px 0px;
    border-radius: 5px;
  }
  .recher{
    background-color: rgb(167, 164, 164);
  }