
<div>
  <nav  class="navbar" style="background-color: #e3f2fd;">
    <a routerLink="home" class="badge text-bg-primary">Accueil</a>
    <a routerLink="app-form" class="badge text-bg-primary">Connexion</a>
    <a routerLink="app-form-inscription" class="badge text-bg-secondary"
      >Inscription</a
    >
    <a routerLink="app-input-prin" class="badge text-bg-warning">Recherche</a>
    <a routerLink="app-aside" class="badge text-bg-warning">Aside</a>
  </nav>
</div>

<router-outlet></router-outlet>
