.inpo{
     margin-right:20%;
     margin-left: 20%;
    width: 50%;
}

.input {
    margin: 0 auto;
    margin-left: 200px;
    margin-top: 50px;
    width: 60%;
    font-size: 18px;
    background: white;
    border-radius: 5px;
  }
.page{
text-align: center;
font-size: 30px;
}
.ref{
    background-color: rgb(220, 177, 246);
}
.princo{
    margin-right: 25%;
    margin-left: 25%;
    border-radius: 3px ;
    box-shadow: 5px 2px 5px 2px;
    margin-top: 15px;
}
.nav span{
       background-color: aquamarine;
        display: inline-block;
        justify-items: auto;
        margin-right: 30px; 
}

.details {
    display: flex;
    justify-content: center;
    margin-right: 30px;
    background-color:rgb(252, 236, 236);
  }
  #span{
  
  
    /* letter-spacing: 10px; */
  }

 