.ref {
  background-color: rgb(246, 210, 253);
}
.princo {
  border-radius: 3px;
  box-shadow: 1px 1px 1px 1px;
  margin-top: 15px;
  font-size: 15px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.tag {
  justify-content: space-around;
  gap: 10px;
  background-color: rgb(136, 248, 235);
}

.details {
  display: flex;
  justify-content: center;
  margin-right: 30px;
}
h1 {
  margin-top: 10px;
  margin-bottom: 50px;
  letter-spacing: 10px;
}
.search {
  margin-left: 5px;
  border-radius: 5px;
  background-color: rgb(23, 114, 249);
}
.en {
  display: flex;
  margin-top: 9px;
  justify-content: space-between;
  margin-right: 500px;
  margin-left: 5px;
}
.container {
  margin-top: 25px;
  display: flex;
  justify-content: space-around;
}

.nav{
  justify-content: space-between;
  margin-right: 335px;
    margin-left: 5px;
}

.btn{
background-color: #fff;
}
.image{
border-radius: 700px;
width: 90px;
}


