.inpo{
    margin-left: 50%;
    margin-top: 70px;
}
.page{
text-align: center;
font-size: 30px;
}
.ref{
    background-color: rgb(220, 177, 246);
}
.princo{
    margin-right: 25%;
    margin-left: 25%;
}